<% provide(:title, "Eugene") %>
<h1 class="page-title brainy-set"><%= image_tag('silo/Eugene.png', class:'ps-page-icon', alt:'Eugene') %> Eugene</h1>

<div class="row">
    <!--Left Section-->
    <div class="col-md-5 brainy-border brainy-check">
        <% if @device.size != 0 %>
          <%= select("Device_choice", "Device_id", @device.collect {|p| [ p.name, p.id ] }, :selected => @pageid)%>
          <p><b>Device Type:</b> <%= @device.find(@pageid).dev_type %></p>
          <p><b>Number of files:</b> <%= @sfile.size %></p>
          <p><b>Last file sync:</b> 
            <% if @sfile.size == 0 %>
              None
            <% else %>
              <%= @sfile.order(created_at: :desc).first.created_at.to_formatted_s(:long_ordinal)  %>
            <% end %>
          </p>
        <% else %>
          <p><%=link_to "+ Add Device To Upload Files", { controller: "devices", action: "new"}, class:"w-link go-link" %></p>
        <% end %>
    </div>
    
    <!--Add Space-->
    <div class="col-md-1"></div>
    
    <!--Right Section-->
    <div class="col-md-6 brainy-border brainy-check">
        <% if @device.size != 0 %>
          <div class="well">
            <%= form_for @sfile_u, html: { multipart: true } do |f| %>
              <%= f.label :name %>
              <%= f.text_field :name %>
              
              <%= f.label :syncfile %>
              <%= f.file_field :syncfile %>
              
              
              <%= f.hidden_field :userid  , :value => current_user.id %>
              <%= f.hidden_field :devid %>
              
              <%= f.submit "Save", class: "btn btn-primary" %>
            <% end %>
          </div>
        <%else%>
          <p>Please add a device to system to begin syncing files</p>
        <%end%>
    </div>
</div>

<div class="row">
    <div class="col-md-12 brainy-border" >
        <table class="table eugene-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Device</th>
              <th>View File</th>
              <th>Download File</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @sfile.each do |sfile| %>
              <tr>
                <td><%= sfile.name %></td>
                <td><%= @device.find(sfile.devid).name %></td>
                <td><%= link_to ("<i class='glyphicon glyphicon-eye-open'></i>").html_safe, {controller: "brainy", action: "view", :fname => sfile.syncfile}, :target => "_blank", :class => "file-select" %></td>
                <td><%= link_to ("<i class='glyphicon glyphicon-cloud-download'></i>").html_safe, {controller: "brainy", action: "download", :fname => sfile.syncfile}, :class => "file-select" %></td>
                
                <td><%= button_to "Delete",  sfile, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{sfile.name}?" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>

<div class="row"></div>




<script>
  $(document).ready(function () {
    
    var mytextbox = document.getElementById('sfile_name');
    var file_save = document.getElementById('sfile_syncfile');
    var Reg =  /[^\\]*$/;
    
    file_save.onchange = function()
    {   mytextbox.value = Reg.exec(this.value);   }
    
    var eugene_dev_drop = document.getElementById('Device_choice_Device_id');
    
    document.getElementById('sfile_devid').value = eugene_dev_drop.value;
    eugene_dev_drop.onchange = function()
    { window.location.href = "../brainy/eugene?devid="+ eugene_dev_drop.value;   }
  
});
</script>